<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{TestView/LayoutModal}">

    <th:block layout:fragment="modalTitle">
        메뉴-A-Modal3 멀티
    </th:block>

    <th:block layout:fragment="modalContent">
        <button th:onclick="|openPopup({url: '@{/View/menuA_modal3.layer}', method: MethodType.Get, width:'400px'})|"  class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
		    팝업 모달 열기 - 멀티
		</button>
    </th:block>

    <th:block layout:fragment="modalScript">
    </th:block>

</html>
