<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{TestView/LayoutMain}">
    
    <th:block layout:fragment="title">
    	메뉴-A-7 alert, confirm, prompt 
    </th:block>
    
    <th:block layout:fragment="css">
    </th:block>
    
    <th:block layout:fragment="script">
    </th:block>

    <div layout:fragment="content">
		<h2 class="text-2xl font-bold mb-4">메뉴-A-6</h2>

           <button onclick="showCustomAlert('이것은 Alert입니다.')" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Alert</button>
		   <button onclick="showCustomConfirm('정말로 진행하시겠습니까?', result => alert(result ? '확인됨' : '취소됨'))" class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 ml-2">Confirm</button>
		   <button onclick="showCustomPrompt('이름을 입력하세요:', result => alert(result ? `입력한 값: ${result}` : '취소됨'))" class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 ml-2">Prompt</button>
    </div>
</html>







