<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.household.user.mapper.UserMapper">

	<!-- 부동산( 건물/토지 등) -->
	<insert id="createUser">
		CREATE TABLE HH_USER (
			NO INTEGER PRIMARY KEY AUTOINCREMENT
			, REG_DATE DATETIME DEFAULT (DATETIME('NOW','LOCALTIME')) <!-- 생성일 -->
			, UPDATE_DATE DATETIME NOT NULL <!-- 수정일 -->
			, ENABLED CHAR(1) NOT NULL DEFAULT 'Y' CHECK (ENABLED IN ('Y', 'N'))<!--  사용 여부 Y:사용, N:미사용 -->
			, ID TEXT(32) NOT NULL <!-- 이름 -->
			, PW TEXT(64) DEFAULT NULL <!-- 비밀번호 -->
			, ROLE TEXT(12) NOT NULL <!-- 권한 -->
			, NICKNAME TEXT(32) NOT NULL <!-- 별명 -->
			, BIRTHDAY TEXT(8) NOT NULL <!-- 생년월일 YYYYMMDD -->
			, IMAGE TEXT DEFAULT NULL <!-- 이미지 -->
			, PW_CHECK TEXT(64) NOT NULL <!-- 계정/패스워드 찾기 정보 -->
		)
	</insert>
	
	<!-- 회원 추가 -->
	<insert id="insertUser" parameterType="com.utime.household.user.vo.UserVo" useGeneratedKeys="true" keyProperty="userNo">
		INSERT INTO HH_USER(
			UPDATE_DATE
			, ENABLED
			, ID 
			, ROLE
			, NICKNAME 
			, BIRTHDAY
			<if test="image != null ">, IMAGE </if> 
			, PW_CHECK
		) VALUES (
			DATETIME('NOW','LOCALTIME')
			, #{enabled, typeHandler=com.utime.household.common.handler.BooleanTypeHandler}
			, #{id}
			, #{role}
			, #{nickname}
			, #{birthday}
			<if test="image != null ">, #{image} </if>
			, #{pwCheck}
		)
	</insert>

	<!-- pw 수정 -->	
	<update id="updateUserPw" parameterType="com.utime.household.user.vo.UserVo">
		UPDATE HH_USER SET
			UPDATE_DATE = DATETIME('NOW','LOCALTIME')
			, PW = #{pw, typeHandler=com.utime.household.user.typeHandler.PasswordEncoderTypeHandler}
		WHERE NO = #{userNo}
	</update>
	
	<update id="updateUser" parameterType="com.utime.household.user.vo.UserVo">
		UPDATE HH_USER SET
			UPDATE_DATE = DATETIME('NOW','LOCALTIME')
			, ENABLED = #{enabled, typeHandler=com.utime.household.common.handler.BooleanTypeHandler}
			<if test="nickname != null and nickname != ''">, NICKNAME = #{nickname} </if>
			<if test="image != null ">, IMAGE = #{image} </if> 
			<if test="pwCheck != null and pwCheck != ''">, PW_CHECK = #{pwCheck}</if>
		WHERE NO = #{userNo}
	</update>
	
	<resultMap id="UserVoMap" type="com.utime.household.user.vo.UserVo">
		<id column="NO" property="userNo" />
		<result column="REG_DATE" property="regDate" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="ENABLED" property="enabled" typeHandler="com.utime.household.common.handler.BooleanTypeHandler" />
		<result column="ID" property="id" />
		<result column="ROLE" property="role" />
		<result column="IMAGE" property="image" />
		<result column="NICKNAME" property="nickname" />
	</resultMap>
	
	<select id="checkId" parameterType="map" resultType="boolean">
		SELECT
			CASE COUNT(1) WHEN 0 THEN 1 ELSE 0 END
		FROM HH_USER
		WHERE 1=1
			AND ENABLED = 'Y'
			AND ID = #{id}
	</select>
	
	<sql id="UserColumnSql">
		NO
		, REG_DATE
		, UPDATE_DATE
		, ENABLED
		, ID
		, ROLE
		, NICKNAME
	</sql>
	
	<!-- 회원 id로 조회 -->
	<select id="getUserFromId" parameterType="map" resultMap="UserVoMap">
		SELECT 
			<include refid="UserColumnSql" /> 
		FROM HH_USER
		WHERE ID = #{id} AND ENABLED = 'Y'
	</select>
	
	<!-- 회원 번호로 조회 -->
	<select id="getUserFromNo" parameterType="map" resultMap="UserVoMap">
		SELECT 
			<include refid="UserColumnSql" /> 
		FROM HH_USER
		WHERE NO = #{userNo} AND ENABLED = 'Y'
	</select>
	
	<!-- 비번 찾기에서 유효한 정보 조회 -->
	<select id="getUserFromCheck" parameterType="com.utime.household.user.vo.UserVo" resultMap="UserVoMap">
		SELECT 
			<include refid="UserColumnSql" /> 
		FROM HH_USER
		WHERE 1=1
			AND ENABLED = 'Y'
			<if test="id != null and id != '' ">
			AND ID = #{id}
			</if>
			<if test="birthday != null and birthday != '' ">
			AND BIRTHDAY = #{birthday}
			</if>
			AND PW_CHECK = #{pwCheck}
	</select>

	<!-- id / pw 일치하는 계정 정보 조회 -->	
	<select id="getUserAndPw" parameterType="map" resultType="long">
		SELECT COALESCE(
		    (	SELECT
		    		NO
		    	FROM HH_USER
		    	WHERE 1=1
		    		AND ENABLED = 'Y'
		    		AND ID = #{id}
		    		AND PW = #{pw, typeHandler=com.utime.household.user.typeHandler.PasswordEncoderTypeHandler}
    		), 
    	-1 ) AS NO;
	</select>
	
</mapper>