<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
	
	<style type="text/css">
		.hidden {
		    display: none;
		}
		.modal-header {
		    cursor: move;
		}
	</style>
	
	<script type="text/javascript" th:inline="javascript">
	
	$(document).ready(function () {
        $("#editStoreModal").draggable({
            handle: ".modal-header"
        });
        
        let no = /*[[${data.categoryNo}]]*/ -1;
        if( no < 0 ){
        	 const form = document.getElementById('editForm');
             const selectElement = form.elements['categoryNo'];
             no = selectElement.value;
        }
        
        populateCategorySelect( {value: no} );
    });
	
	function populateCategorySelect(category) {
		const categoryNo = parseInt(category.value);
		console.info( "categoryNo", categoryNo );
		
	    const categorySubSelect = document.getElementById('selectCategorySub');
	    categorySubSelect.innerHTML = '';

	    const optionUnSelected = document.createElement('option');
	    optionUnSelected.value = -1;
	    optionUnSelected.textContent = '미지정';
	    categorySubSelect.appendChild(optionUnSelected);

	    const listSubCategory = /*[[${listSubCategory}]]*/ null;
	    const SubCategoryNo = /*[[${data.categorySubNo}]]*/ -1;
	    console.info( "SubCategoryNo", SubCategoryNo);
	    
	    //const filteredSubCategory = listSubCategory.filter(categorySub => categoryNo === -1 || categorySub.owner.no === categoryNo);
	    
	    const filteredSubCategory = listSubCategory.filter( categorySub => {
		    	return categorySub.owner.no === categoryNo 
	    	} 
	    );
	    
	    console.info( "filteredSubCategory.length", filteredSubCategory.length );
	    
	    filteredSubCategory.forEach( categorySub => {
	    	
		    const option = document.createElement('option');
	        option.value = categorySub.no;
	        option.textContent = categorySub.name;
	        option.selected = categorySub.no === SubCategoryNo;
	        
	    	categorySubSelect.appendChild(option);
	    	
	        console.info( JSON.stringify(categorySub) , SubCategoryNo, "categorySub.no === SubCategoryNo", categorySub.no === SubCategoryNo );
	    });
	}

	</script>
	
	<div class="modal fade" id="editStoreModal" tabindex="-1" role="dialog" aria-labelledby="editStoreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">[[${data.no > -1? '수정':'추가'}]]</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <form id="editForm">
                	<input type="hidden" name="no" th:value="${data.no}">
	                <div class="modal-body">
					    <div class="card">
					        <div class="card-body">
					            <div class="table-responsive">
					                <table class="table table-borderless">
					                    <tbody>
					                        <tr>
					                            <th class="text-left" scope="row">대분류 항목</th>
					                            <td class="text-right">
					                            	<select name="categoryNo" class="form-control" onChange="populateCategorySelect(this)" >
														<option 
															th:each="item : ${listCategory}" 
															th:value="${item.no}" 
															th:text="${item.name}"
															th:selected="${item.no} == ${data.categoryNo}"
															></option>
													</select>
					                            </td>
					                        </tr>
					                        <tr>
					                            <th class="text-left" scope="row">소분류 항목</th>
					                            <td class="text-right">
					                            	<select name="categorySubNo" id="selectCategorySub" class="form-control" >
					                            		<option value="-1">미지정</option>
													</select>
					                            </td>
					                        </tr>
					                        <tr>
					                            <th class="text-left" scope="row">검색 이름</th>
					                            <td class="text-left">
					                                <input type="text" class="form-control border-1" maxlength="64" name="name" th:value="${data.name}" required>
					                            </td>
					                        </tr>
					                    </tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</div>
                </form>
                <div class="modal-footer">
                	<a class="btn btn-success btn-icon-split" onclick="modalSuccessClick()">
                        <span class="icon text-white-50">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <span class="text">[[${data.no > -1? '수정':'추가'}]]</span>
                    </a>

                	<a class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fas fa-times"></i>
                        </span>
                        <span class="text">취소</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>