<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.household.config.mapper.BankCardMapper">

	<!-- 은행 카드 테이블 생성 -->
	<insert id="createBankCard">
		CREATE TABLE HH_BANK_CARD (
			NO INTEGER PRIMARY KEY AUTOINCREMENT
			, BC TEXT(1) CHECK(BC IN ('B', 'C', 'O')) <!-- 카드 은행 구분 B:은행, C:카드, O:기타 -->
			, NAME TEXT(32) NOT NULL <!-- 이름 -->
			, ENUM_NAME TEXT(16) DEFAULT NULL <!-- EInputBankCard 값 -->
		)
	</insert>
	
	<resultMap id="BankCardVoMap" type="com.utime.household.config.vo.BankCardVO">
		<id column="NO" property="no" />
		<id column="BC" property="bc" typeHandler="com.utime.household.config.handler.BankCardTypeHandler" />
		<id column="NAME" property="name" />
		<id column="ENUM_NAME" property="inputBC" />
	</resultMap>

	<!-- 카드 은행 목록 조회 -->
	<select id="getBankCardList" resultMap="BankCardVoMap">
		SELECT
			NO
			, BC
			, NAME
			, ENUM_NAME
		FROM HH_BANK_CARD
		ORDER BY NAME
	</select>
	
	<!-- 추가하기 전 동일 정보 체크 -->
	<select id="sameCheckBankCard" resultType="boolean" parameterType="com.utime.household.config.vo.BankCardVO">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 1 THEN 1
				ELSE 0
	   		END AS RES 
	   	FROM HH_BANK_CARD
	   	WHERE 1=1
	   		AND BC = #{bc, typeHandler=com.utime.household.config.handler.BankCardTypeHandler}
	   		AND NAME = #{name}
	   		AND ENUM_NAME = #{inputBC}
	</select>
	
	<!-- 추가 -->
	<insert id="insertBankCard" parameterType="com.utime.household.config.vo.BankCardVO">
		INSERT INTO HH_BANK_CARD (
			BC
			, NAME
			, ENUM_NAME
		) VALUES (
			#{bc, typeHandler=com.utime.household.config.handler.BankCardTypeHandler}
			, #{name}
			, #{inputBC}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="updateBankCard" parameterType="com.utime.household.config.vo.BankCardVO">
		UPDATE HH_BANK_CARD SET
			BC = #{bc, typeHandler=com.utime.household.config.handler.BankCardTypeHandler}
			, NAME = #{name}
			, ENUM_NAME = #{inputBC}
		WHERE NO = #{no}
	</update>
	
	<!-- EInputBankCard 일치하는 정보 조회 -->
	<select id="getBankCard" parameterType="map" resultMap="BankCardVoMap">
		SELECT
			NO
			, BC
			, NAME
			, ENUM_NAME
		FROM HH_BANK_CARD
		WHERE ENUM_NAME = #{inputBC}
	</select>
	
	<!-- 삭제 -->
	<update id="deleteBankCard" parameterType="com.utime.household.config.vo.BankCardVO">
		DELETE FROM HH_BANK_CARD
		WHERE NO = #{no}
	</update>
	
</mapper>