<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.household.config.mapper.StoreMapper">

	<!-- 사용처 매칭 테이블 생성 -->
	<insert id="createMatchUsageStore">
		CREATE TABLE HH_USAGE_STORE (
			USAGE_STORE_NO INTEGER PRIMARY KEY AUTOINCREMENT
			, CATEGORY_NO INTEGER NOT NULL <!-- 사용처 타입-->
			, STORE TEXT(64) NOT NULL <!-- 사용처 -->
    		, FOREIGN KEY(CATEGORY_NO) REFERENCES HH_CATEGORY(NO)
		)
	</insert>


	<resultMap id="StoreVoMap" type="com.utime.household.config.vo.StoreVO">
		<id column="USAGE_STORE_NO" property="no" />
		<id column="STORE" property="name" />
		<id column="NAME" property="store" />
		<id column="CATEGORY_NO" property="categoryNo" />
	</resultMap>

	<!-- 사용처 목록 조회 -->
	<select id="getStoreList" resultMap="StoreVoMap">
		SELECT
			ST.USAGE_STORE_NO
			, ST.STORE
			, ST.CATEGORY_NO
			, CT.NAME
		FROM HH_USAGE_STORE ST
			INNER JOIN HH_CATEGORY CT
				ON ST.CATEGORY_NO = CT.NO
		ORDER BY ST.CATEGORY_NO, ST.STORE
	</select>
	
	<!-- 추가하기 전 동일 정보 체크 -->
	<select id="sameCheckStore" resultType="boolean" parameterType="com.utime.household.config.vo.StoreVO">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 1 THEN 1
				ELSE 0
	   		END AS RES 
	   	FROM HH_USAGE_STORE
	   	WHERE 1=1
	   		AND STORE = #{name} 
	</select>
	
	<!-- 추가 -->
	<insert id="insertStore" parameterType="com.utime.household.config.vo.StoreVO">
		INSERT INTO HH_USAGE_STORE (
			CATEGORY_NO
			,STORE
		) VALUES (
			#{categoryNo}
			,#{name}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="updateStore" parameterType="com.utime.household.config.vo.StoreVO">
		UPDATE HH_USAGE_STORE SET
			CATEGORY_NO = #{categoryNo}
			,STORE = #{name}
		WHERE USAGE_STORE_NO = #{no}
	</update>
	
	<!-- EInputStore 일치하는 정보 조회 -->
	<select id="getStore" parameterType="map" resultMap="StoreVoMap">
		SELECT
			USAGE_STORE_NO
			, STORE
			, CATEGORY_NO
		FROM HH_USAGE_STORE 
		WHERE STORE = #{name}
	</select>
	
	
</mapper>