<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">

    <style type="text/css">
        .hidden {
            display: none;
        }
        .modal-header {
            cursor: move;
        }
    </style>

    <script type="text/javascript" th:inline="javascript">

	$(document).ready(function () {
        $("#editModal").draggable({
            handle: ".modal-header"
        });
		
		//const currentData = /*[[${data}]]*/ null;
		//console.info( 'currentData', JSON.stringify(currentData, null, 4) );
		
		const editModal = document.getElementById('editForm');
		
		const ownerNo = /*[[${data.categoryOwner.no}]]*/ null;
		const subNo = /*[[${data.categorySub.no}]]*/ null;
		const categoryOwnerSelect = editModal.elements['categoryOwnerSelect'];
		categoryOwnerSelect.value = ownerNo;
		categoryOwnerChange(categoryOwnerSelect);

		populateCategorySub( ownerNo );
		const categorySubSelect = editModal.elements['categorySubSelect'];
		categorySubSelect.value = subNo;

		populateStoreSelect(subNo);
		const storeSelect = editModal.elements['storeSelect'];
		storeSelect.value =  /*[[${data.store.no}]]*/ null;

    });

	
	/**
	 * 대분류 선택 이벤트
	 */
    function categoryOwnerChange( selectCategory ){

        const selectCategoryValue = selectCategory.value;
		
		console.info( 'categoryOwnerChange', 'selectCategoryValue', selectCategoryValue );

        if( selectCategoryValue ){
            const categoryNo = parseInt(selectCategoryValue);

			console.info( 'categoryOwnerChange', 'categoryNo', categoryNo );
            populateCategorySub(categoryNo);

        } else {
			console.info( 'categoryOwnerChange', 'categoryNo', -1 );
        	populateCategorySub(-1);
        }
    }
    
	/**
	 * 소분류 데이터 생성 
	 */
    function populateCategorySub( ownerNo ){
		console.info('populateCategorySub', ownerNo);
    	const cateSubSelect = document.getElementById('categorySubSelect');
    	cateSubSelect.innerHTML = '';

        const optionUnSelected = document.createElement('option');
        optionUnSelected.value = -1;
        optionUnSelected.textContent = '미지정';
        cateSubSelect.appendChild(optionUnSelected);
		
		// 소분류 카테고리
		const categorySubList = /*[[${listCategorySub}]]*/ null;
		//console.info( 'populateCategorySub', 'categorySubList', JSON.stringify(categorySubList, null, 4) );
		
//        const filteredCategorySub = categorySubList.filter(cateSub => ownerNo === -1 || cateSub.owner.no === ownerNo);
		const filteredCategorySub = categorySubList.filter(cateSub => cateSub.owner.no === ownerNo);
		console.info( 'populateCategorySub', 'filteredCategorySub', JSON.stringify(filteredCategorySub, null, 4) );
		
        filteredCategorySub.forEach(cateSub => {
            const option = document.createElement('option');
            option.value = cateSub.no;
            option.textContent = cateSub.name;
            cateSubSelect.appendChild(option);
        });
        
        categorySubChange( cateSubSelect );
    }
    
    function categorySubChange( selectCategory ){

        const selectSubCategoryValue = selectCategory.value;
		console.info( 'categorySubChange', 'selectSubCategoryValue', selectSubCategoryValue );
				
        if( selectSubCategoryValue ){
            const categorySubNo = parseInt(selectSubCategoryValue);

			console.info( 'categorySubChange', 'categorySubNo', categorySubNo );
            populateStoreSelect(categorySubNo);

        } else {
			console.info( 'categorySubChange', 'categorySubNo', -1 );
            populateStoreSelect(-1);
        }
    }

    function populateStoreSelect(categorySubNo) {
		
		console.info( 'populateStoreSelect', 'categorySubNo', categorySubNo )
		
        const storeSelect = document.getElementById('storeSelect');
        storeSelect.innerHTML = '';

        const optionUnSelected = document.createElement('option');
        optionUnSelected.value = -1;
        optionUnSelected.textContent = '미지정';
        storeSelect.appendChild(optionUnSelected);
		
		// Store 데이터
		const storeData = /*[[${listStore}]]*/ null;
		//console.info( 'populateCategorySub', 'storeData', JSON.stringify(storeData, null, 4) );
				
//        const filteredStores = storeData.filter(store => categorySubNo === -1 || store.categorySubNo === categorySubNo);
		const filteredStores = storeData.filter(store => store.categorySubNo === categorySubNo);
		console.info( 'populateCategorySub', 'filteredStores', JSON.stringify(filteredStores, null, 4) );
				
        filteredStores.forEach(store => {
            const option = document.createElement('option');
            option.value = store.no;
            option.textContent = store.name;
            storeSelect.appendChild(option);
        });
        
        storeSelectChange( storeSelect );
    }

    function storeSelectChange(storeSelect){

        const editRegKeyword = document.getElementById('editRegKeyword');
		
		console.info( 'storeSelectChange', 'storeSelect.value', storeSelect.value );

        if( parseInt(storeSelect.value) === -1 ){
            editRegKeyword.classList.remove('hidden');
        }else{
            editRegKeyword.classList.add('hidden');
        }
    }

    function colorChange( inputEle ){

        const editDlgOriginStore = document.getElementById('editDlgOriginStore');

        const inputValue = inputEle.value;
        if( inputValue.length < 1 ){
            editDlgOriginStore.innerHTML = editDlgOriginStore.getAttribute('org_data');
            return false;
        }

        const btnRegKeyStore = document.getElementById('btnRegKeyStore');

        let sameData = null;
        for (let data of storeData ) {
            if (data.name === inputValue) {
                sameData = data;
                break;
            }
        }

        if( sameData !== null ){
            const categoryOwnerSelect = document.getElementById('categoryOwnerSelect');
            const selectedOptions = categoryOwnerSelect.options;
            const categoryNo = sameData.categoryNo;
            let categoryName = null;
            for( let option of selectedOptions ){
                if (option.value == categoryNo) {
                    categoryName = option.text;
                    break;
                }
            }
            toastAlert( '경고' , '['+categoryName+'] ' + inputValue + ' 같은 값이 있습니다.', 'warning');
            btnRegKeyStore.setAttribute('disabled', 'disabled');
            return false;
        }

        btnRegKeyStore.removeAttribute('disabled');

        const text = editDlgOriginStore.textContent.toLowerCase();

        if(text.includes(inputValue)){
            const convertText = text.replace(inputValue, `<span style="color: red;">${inputValue}</span>`);
            editDlgOriginStore.innerHTML = convertText;
        }

    }

    function registerKeyword(){
        const regKeyStore = document.getElementById('regKeyStore');
        const regKeyStoreValue = regKeyStore.value.trim();

        if( regKeyStoreValue.length < 1 ){
            return false;
        }

        const categoryOwnerSelect = document.getElementById('categoryOwnerSelect');
        const selectedOption = categoryOwnerSelect.options[categoryOwnerSelect.selectedIndex];
        if( selectedOption.value.length < 1 ){
            toastAlert( '경고' , '입출금 항목 ['+selectedOption.text+']는 추가 할 수 없습니다.', 'warning');
            return false;
        }

        toastConfirm( '추가', '['+selectedOption.text+'] '+ regKeyStoreValue +' 구분 키워드 추가 하시겠습니까?', 
            function(){

                let minNo = 0;
                for (let data of storeData ) {
                    if (data.no < minNo ) {
                        minNo = data.no;
                    }
                }

                minNo -= 2;

                const addItem = new Object();
                addItem.no = minNo;
                addItem.name = regKeyStoreValue;
                addItem.categoryNo = parseInt( selectedOption.value );

                storeData.push( addItem );

                categoryOwnerChange( categoryOwnerSelect );

                const storeSelect = document.getElementById('storeSelect');
                storeSelect.value = minNo;
                storeSelect.dispatchEvent(new Event('change'));

                regKeyStore.value = '';
                const editRegKeyword = document.getElementById('editRegKeyword');
                editRegKeyword.classList.add('hidden');
            } 
        );

    }

    function formatAmount(input) {
        const value = input.value.replace(/[^0-9.-]+/g, '');
        const numberValue = parseInt(value, 10);

        if (!isNaN(numberValue)) {
            input.value = numberValue.toLocaleString();
        }
    }
    </script>

    <div class="modal fade" id="editUploadModal" tabindex="-1" role="dialog" aria-labelledby="editUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">내역 수정</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <form id="editForm">
					<input type="hidden" name="no" th:value="${data.no}"/>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-header py-0">
                                <p class="lead text-gray"><span id="editDealDate" th:text="${#dates.format(data.dealDate, 'yyyy.MM.dd HH:mm')}"></span></p>
                                <p class="lead text-gray"><span id="editDlgOriginStore" th:text="${data.store.store}" ></span></p>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <th class="text-left" scope="row">원래 금액</th>
                                                <td class="text-right">
                                                    <input type="text" name="originAmount" id="editInputOriginAmount" 
														class="form-control border-1 text-right" 
														oninput="formatAmount(this)" 
														th:value="${#numbers.formatDecimal(data.originAmount, 1, 'COMMA', 0, 'POINT')}" >
                                                </td>
                                            </tr>
											<tr>
											    <th class="text-left" scope="row">실제 금액</th>
											    <td class="text-right">
											        <input type="text" name="useAmount" id="editInputUseAmount" 
														class="form-control border-1 text-right" 
														oninput="formatAmount(this)" 
														th:value="${#numbers.formatDecimal(data.useAmount, 1, 'COMMA', 0, 'POINT')}">
											    </td>
											</tr>
                                            <tr>
                                                <th class="text-left" scope="row">포함/비포함</th>
                                                <td class="text-right">
                                                    <label for="EditRadioIncludedY" id="lbEditRadioIncludedY">
                                                        <input type="radio" name="included" id="EditRadioIncludedY" value="true" 
														th:checked="${data.included}"/>
                                                        포함
                                                    </label>
                                                    <label for="EditRadioIncludedN" id="lbEditRadioIncludedN">
                                                        <input type="radio" name="included" id="EditRadioIncludedN" value="false" 
														th:checked="${! data.included}" />
                                                        비포함
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" scope="row">입출금 종류</th>
                                                <td class="text-right">
                                                    <select class="form-control" name="io" id="categoryTypeSelect">
                                                        <option value="In" th:selected="${data.io.name() eq 'In' }">입금</option>
                                                        <option value="Out" th:selected="${data.io.name() eq 'Out' }">출금</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" scope="row">대분류</th>
                                                <td class="text-right">
                                                    <select name="categoryOwner.no" class="form-control" id="categoryOwnerSelect" 
														onchange="categoryOwnerChange(this)">
                                                        <option value="-1">미지정</option>
                                                        <option 
															th:each="item : ${listCategory}" 
															th:value="${item.no}"
															th:selected="${data.categoryOwner.no eq item.no}"
															th:text="${item.name}" ></option>
                                                    </select>
                                                </td>
                                            </tr>
											<tr>
											    <th class="text-left" scope="row">소분류</th>
											    <td class="text-right">
											        <select name="categorySub.no" class="form-control" id="categorySubSelect" 
														onchange="categorySubChange(this)">
											        </select>
											    </td>
											</tr>
                                            <tr>
                                                <th class="text-left" scope="row">구분 키워드</th>
                                                <td class="text-right">
                                                    <select name="store.no" class="form-control" id="storeSelect" 
														onChange="storeSelectChange(this)">
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr id="editRegKeyword">
                                                <th class="text-left" scope="row">추가 키워드</th>
                                                <td class="text-right">
                                                    <div class="input-group mb-2" style="width: 100%;">
                                                        <input type="text" id="regKeyStore" class="form-control " onkeyup="colorChange(this)">
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-success" id="btnRegKeyStore" 
																onclick="registerKeyword()">
                                                                <span class="text">키워드 등록</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" scope="row">비고</th>
                                                <td class="text-right">
                                                    <input type="text" name="dscr" id="editInputDscr" 
														class="form-control border-1 text-left"
														th:value="${data.dscr}" >
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="btn btn-success btn-icon-split" onclick="modalSuccessClick()">
                        <span class="icon text-white-50">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <span class="text">적용</span>
                    </a>

                    <a class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fas fa-times"></i>
                        </span>
                        <span class="text">취소</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
