<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="editModal">

    <style type="text/css">
        .hidden {
            display: none;
        }
        .modal-header {
            cursor: move;
        }
    </style>

    <script type="text/javascript" th:inline="javascript">

    $(document).ready(function () {
        $("#editModal").draggable({
            handle: ".modal-header"
        });
    });

    // Store 데이터
    const storeData = /*[[${listStore}]]*/ null;
    const categoryList = /*[[${listCategory}]]*/ null;
	const categorySubList = /*[[${listCategorySub}]]*/ null;

    function categoryTypeChange(selectCateType){
        const selectValue = selectCateType.value;

        const categorySelect = document.getElementById('categorySelect');
        categorySelect.innerHTML = '';

        const option = document.createElement('option');
        option.value = ''; 
        option.textContent = '전체';
        categorySelect.appendChild(option);
        
        categoryList.forEach(function (category) {
            if (category.ctype === selectValue) {
                const option = document.createElement('option');
                option.value = category.no; 
                option.textContent = category.name;
                categorySelect.appendChild(option);
            }
        });

        categoryChange( categorySelect );
    }

    function categoryChange( selectCategory ){

        const selectCategoryValue = selectCategory.value;

        if( selectCategoryValue ){
            const categoryNo = parseInt(selectCategoryValue);

            populateStoreSelect(categoryNo);

        } else {
            populateStoreSelect(-1);
        }
    }

    function populateStoreSelect(categoryNo) {
        const storeSelect = document.getElementById('storeSelect');
        storeSelect.innerHTML = '';

        const optionUnSelected = document.createElement('option');
        optionUnSelected.value = -1;
        optionUnSelected.textContent = '미지정';
        storeSelect.appendChild(optionUnSelected);

        const filteredStores = storeData.filter(store => categoryNo === -1 || store.categoryNo === categoryNo);

        filteredStores.forEach(store => {
            const option = document.createElement('option');
            option.value = store.no;
            option.textContent = store.name;
            storeSelect.appendChild(option);
        });
        
        storeSelectChange( storeSelect );
    }

    function storeSelectChange(storeSelect){

        const editRegKeyword = document.getElementById('editRegKeyword');

        if( parseInt(storeSelect.value) === -1 ){
            editRegKeyword.classList.remove('hidden');
        }else{
            editRegKeyword.classList.add('hidden');
        }
    }

    function colorChange( inputEle ){

        const editDlgOriginStore = document.getElementById('editDlgOriginStore');

        const inputValue = inputEle.value;
        if( inputValue.length < 1 ){
            editDlgOriginStore.innerHTML = editDlgOriginStore.getAttribute('org_data');
            return false;
        }

        const btnRegKeyStore = document.getElementById('btnRegKeyStore');

        let sameData = null;
        for (let data of storeData ) {
            if (data.name === inputValue) {
                sameData = data;
                break;
            }
        }

        if( sameData !== null ){
            const categorySelect = document.getElementById('categorySelect');
            const selectedOptions = categorySelect.options;
            const categoryNo = sameData.categoryNo;
            let categoryName = null;
            for( let option of selectedOptions ){
                if (option.value == categoryNo) {
                    categoryName = option.text;
                    break;
                }
            }
            toastAlert( '경고' , '['+categoryName+'] ' + inputValue + ' 같은 값이 있습니다.', 'warning');
            btnRegKeyStore.setAttribute('disabled', 'disabled');
            return false;
        }

        btnRegKeyStore.removeAttribute('disabled');

        const text = editDlgOriginStore.textContent.toLowerCase();

        if(text.includes(inputValue)){
            const convertText = text.replace(inputValue, `<span style="color: red;">${inputValue}</span>`);
            editDlgOriginStore.innerHTML = convertText;
        }

    }

    function registerKeyword(){
        const regKeyStore = document.getElementById('regKeyStore');
        const regKeyStoreValue = regKeyStore.value.trim();

        if( regKeyStoreValue.length < 1 ){
            return false;
        }

        const categorySelect = document.getElementById('categorySelect');
        const selectedOption = categorySelect.options[categorySelect.selectedIndex];
        if( selectedOption.value.length < 1 ){
            toastAlert( '경고' , '입출금 항목 ['+selectedOption.text+']는 추가 할 수 없습니다.', 'warning');
            return false;
        }

        toastConfirm( '추가', '['+selectedOption.text+'] '+ regKeyStoreValue +' 구분 키워드 추가 하시겠습니까?', 
            function(){

                let minNo = 0;
                for (let data of storeData ) {
                    if (data.no < minNo ) {
                        minNo = data.no;
                    }
                }

                minNo -= 2;

                const addItem = new Object();
                addItem.no = minNo;
                addItem.name = regKeyStoreValue;
                addItem.categoryNo = parseInt( selectedOption.value );

                storeData.push( addItem );

                categoryChange( categorySelect );

                const storeSelect = document.getElementById('storeSelect');
                storeSelect.value = minNo;
                storeSelect.dispatchEvent(new Event('change'));

                regKeyStore.value = '';
                const editRegKeyword = document.getElementById('editRegKeyword');
                editRegKeyword.classList.add('hidden');
            } 
        );

    }

    function formatAmount(input) {
        const value = input.value.replace(/[^0-9.-]+/g, '');
        const numberValue = parseInt(value, 10);

        if (!isNaN(numberValue)) {
            input.value = numberValue.toLocaleString();
        }
    }
    </script>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">내역 수정</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <form id="editForm">
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-header py-0">
                                <p class="lead text-gray"><span id="editDealDate"></span></p>
                                <p class="lead text-gray"><span id="editDlgOriginStore" ></span></p>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <th class="text-left" scope="row">원래 금액</th>
                                                <td class="text-right">
                                                    <input type="text" name="originAmount" id="editInputOriginAmount" class="form-control border-1 text-right" oninput="formatAmount(this)">
                                                </td>
                                            </tr>
											<tr>
											    <th class="text-left" scope="row">실제 금액</th>
											    <td class="text-right">
											        <input type="text" name="useAmount" id="editInputUseAmount" class="form-control border-1 text-right" oninput="formatAmount(this)">
											    </td>
											</tr>
                                            <tr>
                                                <th class="text-left" scope="row">포함/비포함</th>
                                                <td class="text-right">
                                                    <label for="EditRadioIncludedY" id="lbEditRadioIncludedY">
                                                        <input type="radio" name="included" id="EditRadioIncludedY" value="true" />
                                                        포함
                                                    </label>
                                                    <label for="EditRadioIncludedN" id="lbEditRadioIncludedN">
                                                        <input type="radio" name="included" id="EditRadioIncludedN" value="false" />
                                                        비포함
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" scope="row">입출금 종류</th>
                                                <td class="text-right">
                                                    <select class="form-control" name="io" id="categoryTypeSelect">
                                                        <option value="I">입금</option>
                                                        <option value="O">출금</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" scope="row">대분류</th>
                                                <td class="text-right">
                                                    <select name="categoryOwnerNo" class="form-control" id="categoryOwnerSelect" onchange="categoryChange(this)">
                                                        <option value="">전체</option>
                                                        <option th:each="item : ${listCategory}" th:value="${item.no}" th:text="${item.name}"></option>
                                                    </select>
                                                </td>
                                            </tr>
											<tr>
											    <th class="text-left" scope="row">소분류</th>
											    <td class="text-right">
											        <select name="categorySubNo" class="form-control" id="categorySubSelect" onchange="categorySubChange(this)">
											            <option value="">전체</option>
											            <option th:each="item : ${listCategorySub}" th:value="${item.no}" th:text="${item.name}"></option>
											        </select>
											    </td>
											</tr>
                                            <tr>
                                                <th class="text-left" scope="row">구분 키워드</th>
                                                <td class="text-right">
                                                    <select name="store.no" class="form-control" id="storeSelect" onChange="storeSelectChange(this)">
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr id="editRegKeyword">
                                                <th class="text-left" scope="row">추가 키워드</th>
                                                <td class="text-right">
                                                    <div class="input-group mb-2" style="width: 100%;">
                                                        <input type="text" id="regKeyStore" class="form-control " onkeyup="colorChange(this)">
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-success" id="btnRegKeyStore" onclick="registerKeyword()">
                                                                <span class="text">키워드 등록</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" scope="row">비고</th>
                                                <td class="text-right">
                                                    <input type="text" name="dscr" id="editInputDscr" class="form-control border-1 text-left">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <a class="btn btn-success btn-icon-split" onclick="modalSuccessClick()">
                        <span class="icon text-white-50">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <span class="text">적용</span>
                    </a>

                    <a class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fas fa-times"></i>
                        </span>
                        <span class="text">취소</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
