<div class="card-body" xmlns:th="http://www.thymeleaf.org">

	<script type="text/javascript" th:inline="javascript">
		$(function() {
	
			$('#DataTableBankCard').DataTable({
		        "processing": false,
		        "paging": false,
			});
		})
	
	</script>

	<div class="table-responsive">
		<table class="table table-bordered" id="DataTableBankCard">
			<thead>
				<tr>
					<th>종류</th>
					<th>은행/카드</th>
					<th>이름</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data : ${list}" >
					<td class="text-center" th:text="${data.bc.dscr}"></td>
					<td class="text-center" th:text="${data.inputBC.dscr}"></td>
					<td class="text-center" >
						<a th:href="'javascript:onShowDetail(' + ${data.no} + ')'"  th:text="${data.name}"></a>
					</td>
					<td class="text-center">
					    <button type="button" class="btn btn-danger btn-sm" th:onclick="onDelete([[${data.no}]], '[[${data.name}]]'	)">삭제</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>