<div class="card-body" xmlns:th="http://www.thymeleaf.org">

	<script type="text/javascript" th:inline="javascript">
		$(function() {
	
			$('#DataTableCategory').DataTable({
				"processing": false,
		        "paging": true,
		        "pageLength": 50,
			});
		})
	
	</script>
	
	<div class="table-responsive">
		<table class="table table-bordered" id="DataTableCategory">
			<thead>
				<tr>
					<th>종류</th>
					<th>대분류</th>
					<th>소분류</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data : ${list}" >
					<td class="text-center" th:text="${data.category.cType.dscr}"></td>
					<td class="text-center" >
						<a th:href="'javascript:onShowOwnerDetail(' + ${data.category.no} + ')'"  th:text="${data.category.name}"></a>
					</td>
					<td class="text-center" >
						<ul>
                            <li th:each="subItem : ${data.subCategories}" th:text="${subItem.name}" th:attr="onclick=|handleClick(${subItem.no})|">></li>
                        </ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
