<div class="card-body" xmlns:th="http://www.thymeleaf.org">

	<script type="text/javascript" th:inline="javascript">
		$(function() {
	
			$('#DataTableCategory').DataTable({
				"processing": false,
		        "paging": true,
		        "pageLength": 50,
			});
		})
	
	</script>
	
	<div class="table-responsive">
		<table class="table table-bordered" id="DataTableCategory">
			<thead>
				<tr>
					<th class="text-center" th:each="owner : ${list.ownerList}">
						<a th:href="'javascript:onShowOwnerDetail(' + ${owner.no} + ')'"  th:text="${owner.name}"></a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="subList : ${list.subList}" >
					<td class="text-left" th:each="sub : ${subList}" >
						<th:block th:if="${sub.no ne -1}">
							<th:block th:if="${sub.no ne -2}">
								<a href="#" th:onclick="'onShowSubDetail(' + ${sub.owner.no} + ', ' + ${sub.no} + ')'"  th:text="${sub.name}"></a>
							</th:block>
							<th:block th:if="${sub.no eq -2}">
								<a class="btn btn-default" th:onclick="'onShowSubDetail(' + ${sub.owner.no} + ', ' + ${sub.no} + ')'">
			                        추가
			                    </a>	
							</th:block>
						</th:block>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
