<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/LayoutCommon}">

<th:block layout:fragment="title">입출금 항목</th:block>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
	.custom-width-input {
	    width: auto; /* 또는 필요한 너비로 조절 */
	}
	</style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

	<script type="text/javascript" th:inline="javascript">

	$(function() {
		doSearch();
	});

	function doSearch(){
		const sendData = $('#FormCategory' ).serialize();
		
		doSearchList(/*[[@{/Env/Category/List.list}]]*/null, sendData, 'listResult' );
	}
	
	function onShowOwnerDetail(no){
		
		const sendObj = { no: no};
		
		onShowModalLayer( /*[[@{/Env/Category/Detail.layer}]]*/null, sendObj, 'editCategoryModal' );
	}

	function onOwnerDelete(no, name) {
	    
	    toastConfirm('삭제', name
				+ ' 삭제하시겠습니까?', function() {
	    	_onOwnerDelete( no, name );	
		});
	}
	
	function _onOwnerDelete( no, name ){
		
		onJsonAction( /*[[@{/Env/Category/Remove.json}]]*/ null, { no: no }, function(json){
			if (json.code === '0') {
            	toastAlert('성공', name + ' 삭제 성공했습니다.', 'success');
            	doSearch();
            } else {
            	toastAlert('실패', name + ' 삭제 실패했습니다. ' + json.code + ':' + json.message, 'warning');
            }
		});
	}
	
	function modalOwnerSuccessClick(){
		const data = getFormObject( 'editForm' );
		const isAdd = data.no < 0;
		
		const title = isAdd? '추가':'수정';
		const message = data.name + ' ' + title + '하시겠습니까?';
		
		toastConfirm(title, message, function() {
			_onOwnerSave(title, data);
		});
	}
	
	function _onOwnerSave(title, data){
		onJsonAction( /*[[@{/Env/Category/Save.json}]]*/ null, data, function(json){
			if (json.code === '0') {
				onHideModalLayer('editCategoryModal');
				
            	toastAlert('성공', data.name + ' ' + title + ' 성공했습니다.', 'success');
            	doSearch();
            } else {
            	toastAlert('실패', data.name + ' ' + title + ' 실패했습니다. ' + json.code + ':' + json.message, 'warning');
            }
		});
	}
	
	</script>

</th:block>

<div layout:fragment="content">
    <div class="card shadow mb-4">
           <form id="FormCategory">
			<div class="row  border-bottom-success shadow">
			
				<div class="card-body">
					<div class="form-group">
						<label for="selectCategoryType">종류</label>
						<select name="cType" class="form-control custom-width-input" id="selectCategoryType" onchange="doSearch()">
							<option value="">모두</option>
							<option 
								th:each="item : ${cTypes}" 
								th:value="${item}"
								th:text="${item.dscr}"></option>
						</select>
					</div>
				</div>
				
				<div class="card-body">
					<div class="form-group">
		                <button type="button" class="btn btn-primary" onclick="onShowDetail(-1)">추가</button>
					</div>
				</div>
			</div>
        </form>
        
		<div id="listResult"></div>
    </div>
</div>

</html>