<div class="card-body" xmlns:th="http://www.thymeleaf.org">

	<style>
		ul {
            list-style-type: none;
        }
        ul ul {
            margin-left: 20px;
        }
	</style>
	
	<script type="text/javascript" th:inline="javascript">
		$(function() {
			
		})
	
	</script>
	
	<div>
	<!-- 
		<ul>
	        <li th:each="data2 : ${data1.list}">
	            <span th:text="${data2.name}">노드 1</span>
	            <ul>
	                <li th:each="data3 : ${data2.list}">
	                    <span th:text="${data3.name}">노드 1-1</span>
	                    <ul>
	                        <li th:each="data4 : ${data3.list}">
	                            <span th:text="${data4.name}">노드 1-1-1</span>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </li>
	    </ul>
	     -->
	    <ul>
	        <li th:each="data : ${list}">
	            <span class="text font-weight-bold text-primary">
	            	[[${data.cType.dscr}]] :
	            	<a th:href="'javascript:onShowOwnerDetail(' + ${data.no} + ')'"  th:text="${data.name}"></a>
				</span>
	            <ul>
	                <li th:each="subItem : ${data.subCategories}">
	                	<span class="text ">
                    		<a th:text="${subItem.name}" th:href="'javascript:onShowSubDetail(' + ${subItem.no} + ')'"> </a>
                    	</span>
                    	<ul>
	                        <li th:each="store : ${subItem.list}">
	                            <span class="text ">
	                            	<a th:text="${store.name}" th:href="'javascript:onShowStoreDetail(' + ${store.no} + ')'"> </a>
	                            </span>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </li>
	    </ul> 
	</div>

</div>
