<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.household.root.mapper.HouseholdMapper">

	
	<!-- 가계부 메인 데이터 생성 -->
	<insert id="createRecord">
		CREATE TABLE HH_RECORD (
			NO INTEGER PRIMARY KEY AUTOINCREMENT
			, ENABLED CHAR(1) NOT NULL DEFAULT 'Y' CHECK (ENABLED IN ('Y', 'N'))
			, REG_DATE DATE DEFAULT (DATETIME('NOW','LOCALTIME')) <!-- 작성 일자 -->
			, DEAL_DATE DATE NOT NULL <!-- 거래 일자 -->
			, AMOUNT INTEGER(12) NOT NULL <!-- 금액 -->
			, INCLUDED CHAR(1) NOT NULL CHECK(INCLUDED IN ('T', 'F'))  <!--  포함 여부 T:포함, F:미포함 -->
			, IN_OUT CHAR(1) NOT NULL CHECK(IN_OUT IN ('I', 'O')) <!-- 입/출금 I 입금, O 출금 -->
			, BANK_CARD_NO INTEGER NOT NULL <!-- 입금 출금 구분 -->
			, CATEGORY_NO INTEGER NOT NULL <!-- 사용처 타입 고유 번호 -->
			, STORE_NO INTEGER DEFAULT -1 <!-- 사용처 고유 번호-->
			, CONTENT TEXT(128) DEFAULT NULL <!-- 사용처 -->
			, DESCRIPTION TEXT(256) DEFAULT NULL <!-- 비고 -->
			, OWNER_RECORD_NO INTEGER DEFAULT -1 <!-- 원 출처 번호 -->
			, FOREIGN KEY(BANK_CARD_NO) REFERENCES HH_BANK_CARD(NO)
    		, FOREIGN KEY(CATEGORY_NO) REFERENCES HH_CATEGORY(NO)
		)
	</insert>


</mapper>