<script 
	xmlns:th="http://www.thymeleaf.org" 
	th:inline="javascript"
	th:fragment="CommonScript">

//사용 예)
//const response = await apiRequest("/user/profile");
//if (response.ok) {
//  const data = await response.json();
//  console.log(data);
//}
/* 
async function apiRequest(url, options = {}) {
	// 쿠키 포함
    options.credentials = "include";
	
    let response = await fetch(url, options);

    if (response.status === 401) {
    	console.info('status', response.status, 'Refresh Token으로 재발급')
        const refreshSuccess = await refreshToken();
        if (refreshSuccess) {
            // 재발급 후 다시 요청
            response = await fetch(url, options);
        } else {
            throw new Error("재로그인이 필요합니다.");
        }
    }

    return response;
} */

async function apiRequest(url, method = "GET", body = null) {
    const options = {
        method: method || "GET",
        credentials: "include", // 쿠키 포함
        headers: {
            "Content-Type": "application/json"
        }
    };

    if (body){
    	options.body = JSON.stringify(body);
    }

    console.info('🚀 request', url, 'options', options);
    
    let response = await fetch(url, options);
    
    console.info('✅ response', response);
    
    if (response.status === 401) {
    	console.info('status', response.status, 'Refresh Token으로 재발급')
    	
        const refreshSuccess = await refreshToken();
        if (refreshSuccess) {
            // 재발급 후 다시 요청
            response = await fetch(url, options);
            
            console.info('✅ response', response);
        } else {
            throw new Error("재로그인이 필요합니다.");
        }
    }

    return response;
}


// Refresh Token 호출 함수
async function refreshToken() {
	
	console.info('🚀 request, Refresh');
	
    try {
        const res = await fetch(/*[[@{/Auth/Refresh}]]*/ null, {
            method: 'POST',
            credentials: 'include'
        });
        
        console.info('✅ response', res);

        if (!res.ok) {
        	showCustomAlert("세션이 만료되었습니다. 다시 로그인하세요.", () => {
        		window.location.href = /*[[@{/User/Login.html}]]*/ null;
        	});
            
            return false;
        }
        return true;
    } catch (err) {
        console.error("refreshToken 실패:", err);
        return false;
    }
}

</script>