<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.household.environment.mapper.BankCardMapper">

	<resultMap id="BasicItemVOMap" type="com.utime.household.environment.vo.BasicItemVO">
		<id column="NO" property="no" />
		<result column="NAME" property="name" />
		<result column="ENABLED" property="enabled" typeHandler="com.utime.household.common.handler.BooleanTypeHandler" />
	</resultMap>

	<!--
		resultMap에서 이렇게도 사용 할 수 있다. 
		
		<association property="address" javaType="com.example.Address" column="{address_id=address_id,city_id=city_id}" select="selectAddressByIdAndCityId" />
   
		<association property="address" column="address_id" javaType="com.example.Address" select="selectAddressById" /> 
	-->
	
	<resultMap id="BankCardVoMap" extends="BasicItemVOMap" type="com.utime.household.environment.vo.BankCardVO">
		<result column="BC" property="bc" typeHandler="com.utime.household.environment.handler.BankCardTypeHandler" />
		<result column="DSCR" property="dscr"/>
		
		<association 
			column="CARD_NO" 
			property="card" 
			javaType="com.utime.household.environment.vo.CardVO"
			select="selectCard" />

		<association 
			column="BANK_NO"
			property="bank" 
			javaType="com.utime.household.environment.vo.BankVO"
			select="selectBank"
			/>
	</resultMap>
	
	<resultMap id="CardVoMap" type="com.utime.household.environment.vo.CardVO">
		<id column="NO" property="no"/>
		<result column="CARD_WITHDRAWAL_DATE"  property="withdrawalDate"/>

		<association 
			column="CARD_COMPANY" 
			property="cardCompany" 
			javaType="com.utime.household.environment.vo.CompanyVO"
			select="selectCardCompany"
			/>
	
		<association 
			column="CARD_WITHDRAWAL_BANK_CARD_NO" 
			property="bank" 
			javaType="com.utime.household.environment.vo.BankVO"
			select="selectBank"
			/>
			
		<collection
			column="CARD_WITHDRAWAL_BANK_CARD_NO" 
			property="cards" 
			javaType="java.util.ArrayList"
			ofType="com.utime.household.environment.vo.CardItemVO" 
			select="selectCardItem"
			/>
	</resultMap>
	
	<resultMap id="CardItemVoMap" extends="BasicItemVOMap" type="com.utime.household.environment.vo.CardItemVO">
		<result column="CARD_NO" property="cardNo" />
		<result column="CARD_NUMBER" property="cardNumber" />
		<result column="CARD_TYPE" property="cardType" typeHandler="com.utime.household.environment.handler.CardTypeTypeHandler" />
		<result column="DSCR" property="dscr" />
		<result column="FILE_CARD_NAME" property="innerFileCardName" />
		<result column="FILE_CARD_NUMBER" property="innerFileCardNumber" />
	</resultMap>
	
	<resultMap id="BankVoMap" type="com.utime.household.environment.vo.BankVO">
		<result column="NO" property="no" />
		<result column="BANK_ACCOUNT_TYPE" property="accountType" typeHandler="com.utime.household.environment.handler.CardTypeTypeHandler" />
		<result column="BANK_ACCOUNT_NUMBER" property="accountNumber" />
		<result column="MATURITY" property="maturity" />
		<result column="RATE" property="rate" />
		<result column="TAXABLE" property="taxable" typeHandler="com.utime.household.common.handler.BooleanTypeHandler"/>
		
		<association 
			column="BANK_COMPANY" 
			property="bankCompay" 
			javaType="com.utime.household.environment.vo.CompanyVO"
			select="selectBankCompany"
			/>
		
	</resultMap>
	
	
	<resultMap id="CompanyVoMap" extends="BasicItemVOMap" type="com.utime.household.environment.vo.CompanyVO">
		<result column="BEAN_NAME" property="beanName" />
	</resultMap>
	
	
	<select id="selectCard" parameterType="map" resultMap="CardVoMap">
		SELECT
			NO
			, CARD_COMPANY 
			, CARD_WITHDRAWAL_DATE 
			, CARD_WITHDRAWAL_BANK_CARD_NO
		FROM HH_CARD
		WHERE 1=1
			AND NO = #{cardNo}
			AND ENABLED = 'Y'
	</select>
	
	<select id="selectCardItem" parameterType="map" resultMap="CardVoMap">
		SELECT 
			NO
			, CARD_NO
			, NAME
			, CARD_NUMBER 
			, CARD_TYPE
			, DSCR 
			, FILE_CARD_NAME 
			, FILE_CARD_NUMBER 
		FROM HH_CARD_ITEM
		WHERE 1=1
			AND CARD_NO = #{cardNo}
			AND ENABLED = 'Y'
		ORDER BY NAME
	</select>

	<select id="selectBank" parameterType="map" resultMap="BankVoMap">
		SELECT 
			NO
			, BANK_COMPANY 
			, BANK_ACCOUNT_TYPE  
			, BANK_ACCOUNT_NUMBER
			, MATURITY 
			, RATE 
			, TAXABLE
		FROM HH_BANK
		WHERE 1=1
			AND NO = #{bankNo}
			AND ENABLED = 'Y'
	</select>
	
	<select id="selectBankCompany" parameterType="map" resultMap="CompanyVoMap">
		SELECT
			NO 
			, NAME 
			, BEAN_NAME
		FROM HH_BANK_COMPANY
		WHERE 1=1
			AND NO = #{bankNo}
			AND ENABLED = 'Y'
	</select>

	<select id="selectCardCompany" parameterType="map" resultMap="CompanyVoMap">
		SELECT
			NO 
			, NAME 
			, BEAN_NAME
		FROM HH_CARD_COMPANY
		WHERE 1=1
			AND NO = #{cardNo}
			AND ENABLED = 'Y'
	</select>
	











	<!--은행 사 추가-->
	<insert id="insertBankKind" parameterType="map">
		INSERT HH_BANK_KIND (
			NAME
				<if test="bean != null and bean != '' ">
					, BEAN
				</if>
			) VALUSE (
				#{name} 
				<if test="bean != null and bean != '' ">
					, #{bean}
				</if>
			) 
	</insert>
	
	<!--카드 사 추가-->
	<insert id="insertCardKind" parameterType="map">
		INSERT HH_CARD_KIND (
			NAME
				<if test="bean != null and bean != '' ">
					, BEAN
				</if>
			) VALUSE (
				#{name} 
				<if test="bean != null and bean != '' ">
					, #{bean}
				</if>
			)
	</insert>
	
	<!--은행 사 조회-->
	<select id="selectBankKind" parameterType="map" resultMap="BasicItemVOMap">
		SELECT 
			NO
			, NAME 
			, BEAN
		FROM HH_BANK_COMPANY 
		WHERE 1=1
			<if test="no != null">
				AND NO = #{no}
			</if>
		ORDER BY NAME
	</select>
	
	<!--카드 사 조회-->
	<select id="selectCardKind" parameterType="map" resultMap="BasicItemVOMap">
		SELECT 
			NO
			, NAME
			, BEAN 
		FROM HH_CARD_COMPANY 
		WHERE 1=1
			<if test="no != null">
				AND NO = #{no}
			</if>
		ORDER BY NAME
	</select>
	
	
	<select id="selectBank" resultMap="BankCardVoMap">
		SELECT
			NO
			, BC
			, NAME
			, BANK_NO 
			, CARD_NO
			, DSCR
		FROM HH_BANK_CARD
		WHERE 1=1
			AND ENABLED = 'Y'
			<if test="bc != null ">
			AND BC = #{bc, typeHandler=com.utime.household.environment.handler.BankCardTypeHandler}
			</if>
		ORDER BY NAME
	</select>
	

	<!-- 카드 은행 목록 조회 -->
	<select id="getBankCardList" resultMap="BankCardVoMap">
		SELECT
			NO
			, BC
			, NAME
			, BANK_NO 
			, CARD_NO
			, DSCR
		FROM HH_BANK_CARD
		WHERE 1=1
			AND ENABLED = 'Y'
			<if test="bc != null ">
			AND BC = #{bc, typeHandler=com.utime.household.environment.handler.BankCardTypeHandler}
			</if>
		ORDER BY NAME
	</select>
	
	<!-- 추가하기 전 동일 정보 체크 -->
	<select id="sameCheckBankCard" resultType="boolean" parameterType="com.utime.household.environment.vo.BankCardVO">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 1 THEN 1
				ELSE 0
	   		END AS RES 
	   	FROM HH_BANK_CARD
	   	WHERE 1=1
	   		AND ENABLED = 'Y'
	   		AND BC = #{bc, typeHandler=com.utime.household.environment.handler.BankCardTypeHandler}
	   		AND NAME = #{name}
	</select>
	
	<!-- 추가 -->
	<insert id="insertBankCard" parameterType="com.utime.household.environment.vo.BankCardVO" useGeneratedKeys="true" keyProperty="no">
		INSERT INTO HH_BANK_CARD (
			BC
			, NAME
			<if test=" bc.name() == 'Bank' ">
			, BANK_KIND
			, BANK_ACCOUNT_TYPE
			, BANK_ACCOUNT_NUMBER
			, BANK_ACCOUNT_HOLDER
			</if>
			<if test=" bc.name() == 'Card' ">
			, CARD_COMPANY
			, CARD_TYPE
			, CARD_BANK_CARD_NO
			, CARD_WITHDRAWAL_DATE
			</if>
			<if test=" null != dscr and '' != dscr ">
			, DSCR
			</if>
		) VALUES (
			#{bc, typeHandler=com.utime.household.environment.handler.BankCardTypeHandler}
			, #{name}
			<if test=" bc.name() == 'Bank' ">
			, #{bank.bankKind}
			, #{bank.accountType, typeHandler=com.utime.household.environment.handler.AccountTypeTypeHandler}
			, #{bank.accountNumber}
			, #{bank.accountHolder}
			</if>
			<if test=" bc.name() == 'Card' ">
			, #{card.cardCompany}
			, #{card.cardType, typeHandler=com.utime.household.environment.handler.CardTypeTypeHandler}
			, #{card.bank.no}
			, #{card.withdrawalDate}
			</if>
			<if test=" null != dscr and '' != dscr ">
			, #{dscr}
			</if>
		)
	</insert>
	
	<!-- 수정 -->
	<update id="updateBankCard" parameterType="com.utime.household.environment.vo.BankCardVO">
		UPDATE HH_BANK_CARD SET
			NAME = #{name}
			<if test=" bc.name() == 'Bank' ">
			, BANK_KIND = #{bank.bankKind}                                                                               
			, BANK_ACCOUNT_TYPE = #{bank.accountType, typeHandler=com.utime.household.environment.handler.AccountTypeTypeHandler}
			, BANK_ACCOUNT_NUMBER = #{bank.accountNumber}                                                                          
			, BANK_ACCOUNT_HOLDER = #{bank.accountHolder}                                                                          
			</if>
			<if test=" bc.name() == 'Card' ">
			, CARD_COMPANY = #{card.cardCompany} 
			, CARD_TYPE = #{card.cardType, typeHandler=com.utime.household.environment.handler.CardTypeTypeHandler}
			, CARD_BANK_CARD_NO = #{card.bank.no}                                                                          
			, CARD_WITHDRAWAL_DATE = #{card.withdrawalDate}                                                                   
			</if>
			<if test=" null != dscr and '' != dscr ">
			, DSCR = #{dscr}
			</if>
		WHERE NO = #{no}
	</update>
	
	<!-- 간단 정보 조회 -->
	<select id="getSimpleBankCard" parameterType="map" resultMap="BankCardVoMap">
		SELECT
			NO
			, BC
			, NAME
		FROM HH_BANK_CARD
		WHERE NO = #{no}
	</select>
	
	<!-- 정보 조회 -->
	<select id="getBankCard" parameterType="map" resultMap="BankCardVoMap">
		SELECT
			NO
			, BC
			, NAME
			, BANK_KIND
			, BANK_ACCOUNT_TYPE
			, BANK_ACCOUNT_NUMBER
			, BANK_ACCOUNT_HOLDER
			, CARD_COMPANY
			, CARD_TYPE
			, CARD_BANK_CARD_NO
			, CARD_WITHDRAWAL_DATE
			, DSCR
		FROM HH_BANK_CARD
		WHERE NO = #{no}
	</select>
	
	<!-- 삭제 -->
	<update id="deleteBankCard" parameterType="map">
		UPDATE HH_BANK_CARD SET
			ENABLED = 'N'
		WHERE NO = #{no}
	</update>
	
</mapper>