<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.household.environment.mapper.CategoryMapper">

	<!-- 카테고리 생성 -->
	<insert id="createCategories">
		CREATE TABLE HH_CATEGORY (
			NO INTEGER PRIMARY KEY AUTOINCREMENT
			, ENABLED CHAR(1) NOT NULL DEFAULT 'Y' CHECK (ENABLED IN ('Y', 'N'))<!--  사용 여부 Y:사용, N:미사용 -->
			, CT CHAR(1) NOT NULL CHECK(CT IN ('I', 'S', 'E')) <!-- ECategoryType -->
			, NAME TEXT(32) NOT NULL 
		)
	</insert>
	
	<insert id="createSubcategories">
		CREATE TABLE HH_SUB_CATEGORY (
			NO INTEGER PRIMARY KEY AUTOINCREMENT
			, ENABLED CHAR(1) NOT NULL DEFAULT 'Y' CHECK (ENABLED IN ('Y', 'N'))<!--  사용 여부 Y:사용, N:미사용 -->
			, OWNER_NO INTEGER
			, NAME TEXT(32) NOT NULL
			, FOREIGN KEY(OWNER_NO) REFERENCES HH_CATEGORY(NO) 
		)
	</insert>

	<resultMap id="CategoryMap" type="com.utime.household.environment.vo.CategoryVO">
		<id column="NO" property="no" />
		<id column="NAME" property="name" />
		<id column="CT" property="cType" typeHandler="com.utime.household.environment.handler.ECategoryTypeTypeHandler" />
	</resultMap>
	
	<resultMap id="CategoryOwnerMap" extends="CategoryMap" type="com.utime.household.environment.vo.CategoryOwnerVO">
		<association
			column="NO"
			property="subCategories"
			javaType="java.util.List"
			select="getSubCategoryStoreList" >
			<id column="NO" property="ownerNo" />
		</association>
	</resultMap>
	
	<resultMap id="CategorySubMap" type="com.utime.household.environment.vo.CategorySubVO">
		<id column="NO" property="no" />
		<id column="NAME" property="name" />
		<id column="OWNER_NO" property="owner.no" />
	</resultMap>

	<resultMap id="CategorySubStoreMap" extends="CategorySubMap"  type="com.utime.household.environment.vo.CategorySubStoreVO">
	</resultMap>
	
	<select id="getSubCategoryStoreList" parameterType="map" resultMap="CategorySubStoreMap">
		SELECT
			NO
			, OWNER_NO 
			, NAME
		FROM HH_SUB_CATEGORY
		WHERE 1=1
			AND ENABLED = 'Y'
			<if test="ownerNo > -1">
			AND OWNER_NO = #{ownerNo}
			</if>
		ORDER BY 
			CASE WHEN NAME = '기타' THEN 1 ELSE 0 END, 
    		NAME;
	</select>
	
	<sql id="categoryCoulmns">
		NO
		, CT
		, NAME
	</sql>
	
	
	<!-- 수량 -->
	<select id="getCategoryCount" resultType="integer">
		SELECT
			COUNT(1) AS CNT
		FROM HH_CATEGORY
	</select>

	<!-- 카드 은행 목록 조회 -->
	<select id="getCategoryList" parameterType="map" resultMap="CategoryMap">
		SELECT
			<include refid="categoryCoulmns"/>
		FROM HH_CATEGORY
		WHERE 1=1
			AND ENABLED = 'Y'
		<if test="cType != null ">
			AND CT = #{cType, typeHandler=com.utime.household.environment.handler.ECategoryTypeTypeHandler}
		</if>
		ORDER BY CT DESC, NAME
	</select>
	
	<!-- 전체 내역 조회 -->
	<select id="getCategoryOwnerList" parameterType="map" resultMap="CategoryOwnerMap">
		SELECT
			<include refid="categoryCoulmns"/>
		FROM HH_CATEGORY
		WHERE 1=1
			AND ENABLED = 'Y'
		<if test="cType != null ">
			AND CT = #{cType, typeHandler=com.utime.household.environment.handler.ECategoryTypeTypeHandler}
		</if>
		ORDER BY CT DESC, NAME
	</select>
	
	<!-- 소분류 목록 -->
	<select id="getSubCategoryList" parameterType="map" resultMap="CategorySubMap">
		SELECT
			NO
			, OWNER_NO 
			, NAME
		FROM HH_SUB_CATEGORY
		WHERE 1=1
			AND ENABLED = 'Y'
			<if test="ownerNo > -1">
			AND OWNER_NO = #{ownerNo}
			</if>
		ORDER BY 
			CASE WHEN NAME = '기타' THEN 1 ELSE 0 END, 
    		NAME;
	</select>
	
	<!-- 소분류 상세 -->
	<select id="getSubCategory" parameterType="map" resultMap="CategorySubMap">
		SELECT
			NO
			, OWNER_NO 
			, NAME
		FROM HH_SUB_CATEGORY
		WHERE 1=1
			AND NO = #{subNo}
	</select>
	
	<!-- 추가하기 전 동일 정보 체크 -->
	<select id="sameCheckCategory" resultType="boolean" parameterType="com.utime.household.environment.vo.CategoryVO">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 1 THEN 1
				ELSE 0
	   		END AS RES 
	   	FROM HH_CATEGORY
	   	WHERE 1=1
	   		AND ENABLED = 'Y'
	   		AND NAME = #{name}
	</select>
	
	<!-- 추가 -->
	<insert id="insertCategory" parameterType="com.utime.household.environment.vo.CategoryVO" useGeneratedKeys="true" keyProperty="no">
		INSERT INTO HH_CATEGORY (
			CT
			, NAME
		) VALUES (
			#{cType, typeHandler=com.utime.household.environment.handler.ECategoryTypeTypeHandler}
			, #{name}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="updateCategory" parameterType="com.utime.household.environment.vo.CategoryVO">
		UPDATE HH_CATEGORY SET
			CT = #{cType, typeHandler=com.utime.household.environment.handler.ECategoryTypeTypeHandler}
			, NAME = #{name}
		WHERE NO = #{no}
	</update>
	
	<!-- 이름으로 정보 조회 -->
	<select id="getCategoryFromName" parameterType="map" resultMap="CategoryMap">
		SELECT
			<include refid="categoryCoulmns"/>
		FROM HH_CATEGORY
		WHERE 1=1
			AND ENABLED = 'Y'
			AND NAME = #{name}
	</select>
	
	<!-- 번호로 정보 조회 -->
	<select id="getCategoryFromNo" parameterType="map" resultMap="CategoryMap">
		SELECT
			<include refid="categoryCoulmns"/>
		FROM HH_CATEGORY
		WHERE 1=1
			AND ENABLED = 'Y'
			AND NO = #{no}
	</select>

	<!-- 삭제 -->
	<update id="deleteCategory" parameterType="map">
		UPDATE HH_CATEGORY SET
			ENABLED = 'N'
		WHERE NO = #{no}
	</update>
	
	<!-- 서브 추가 -->
	<insert id="insertSubCategory" parameterType="com.utime.household.environment.vo.CategorySubVO" useGeneratedKeys="true" keyProperty="no">
		INSERT INTO HH_SUB_CATEGORY (
			OWNER_NO
			, NAME
		) VALUES (
			#{owner.no}
			, #{name}
		)
	</insert>
	
	<!-- 서브 수정 -->
	<update id="updateSubCategory" parameterType="com.utime.household.environment.vo.CategorySubVO">
		UPDATE HH_SUB_CATEGORY SET
			OWNER_NO = #{owner.no}
			, NAME = #{name}
		WHERE NO = #{no}
	</update>
	
	<!-- 서브 삭제 -->
	<update id="deleteSubCategory" parameterType="map">
		UPDATE HH_SUB_CATEGORY SET
			ENABLED = 'N'
		WHERE NO = #{subNo}
	</update>

</mapper>