<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.household.environment.mapper.StoreMapper">

	<!-- 사용처 매칭 테이블 생성 -->
	<insert id="createMatchUsageStore">
		CREATE TABLE HH_USAGE_STORE (
			NO INTEGER PRIMARY KEY AUTOINCREMENT
    		, ENABLED CHAR(1) NOT NULL DEFAULT 'Y' CHECK (ENABLED IN ('Y', 'N'))<!--  사용 여부 Y:사용, N:미사용 -->
			, CATEGORY_NO INTEGER NOT NULL <!-- 사용처 타입-->
			, SUB_CATEGORY_NO INTEGER NOT NULL <!-- 하위 사용처 타입-->
			, STORE TEXT(64) NOT NULL <!-- 사용처 -->
    		, FOREIGN KEY(CATEGORY_NO) REFERENCES HH_CATEGORY(NO)
    		, FOREIGN KEY(SUB_CATEGORY_NO) REFERENCES HH_SUB_CATEGORY(NO) 
		)
	</insert>


	<resultMap id="StoreVoMap" type="com.utime.household.environment.vo.StoreVO">
		<id column="NO" property="no" />
		<id column="NAME" property="name" />
		<id column="CATEGORY_NO" property="categoryNo" />
		<id column="CATEGORY_NAME" property="categoryName" />
		<id column="SUB_CATEGORY_NO" property="categorySubNo" />
		<id column="SUB_CATEGORY_NAME" property="categorySubName" />
	</resultMap>

	<!-- 사용처 목록 조회 -->
	<select id="getStoreList" parameterType="map" resultMap="StoreVoMap">
		SELECT
			ST.NO
			, ST.STORE AS NAME
			, ST.CATEGORY_NO
			, CT.NAME AS CATEGORY_NAME
			, ST.SUB_CATEGORY_NO
			, SB.NAME AS SUB_CATEGORY_NAME
		FROM HH_USAGE_STORE ST
			INNER JOIN HH_CATEGORY CT
				ON ST.CATEGORY_NO = CT.NO
			INNER JOIN HH_SUB_CATEGORY SB
				ON ST.SUB_CATEGORY_NO = SB.NO
		WHERE 1=1
			AND ST.ENABLED = 'Y'
			<if test="categoryNo > -1">
			AND ST.CATEGORY_NO = #{categoryNo}
			</if>
			<if test="categorySubNo > -1">
			AND ST.SUB_CATEGORY_NO = #{categorySubNo}
			</if>
		ORDER BY 
			ST.CATEGORY_NO, ST.STORE
	</select>
	
	<!-- 추가하기 전 동일 정보 체크 -->
	<select id="sameCheckStore" resultType="boolean" parameterType="com.utime.household.environment.vo.StoreVO">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 1 THEN 1
				ELSE 0
	   		END AS RES 
	   	FROM HH_USAGE_STORE
	   	WHERE 1=1
	   		AND ENABLED = 'Y'
	   		AND STORE = #{name} 
	</select>
	
	<!-- 추가 -->
	<insert id="insertStore" parameterType="com.utime.household.environment.vo.StoreVO" useGeneratedKeys="true" keyProperty="no">
		INSERT INTO HH_USAGE_STORE (
			CATEGORY_NO
			,SUB_CATEGORY_NO
			,STORE
		) VALUES (
			#{categoryNo}
			,#{categorySubNo}
			,#{name}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="updateStore" parameterType="com.utime.household.environment.vo.StoreVO">
		UPDATE HH_USAGE_STORE SET
			CATEGORY_NO = #{categoryNo}
			,SUB_CATEGORY_NO = #{categorySubNo}
			,STORE = #{name}
		WHERE NO = #{no}
	</update>
	
	<!-- EInputStore 일치하는 정보 조회 -->
	<select id="getStore" parameterType="map" resultMap="StoreVoMap">
		SELECT
			NO
			, STORE AS NAME
			, CATEGORY_NO
			, SUB_CATEGORY_NO
		FROM HH_USAGE_STORE 
		WHERE 1=1
			AND ENABLED = 'Y'
			AND NO = #{no}
	</select>
	
	<!-- 삭제 -->
	<update id="deleteStore" parameterType="map">
		UPDATE HH_USAGE_STORE SET
			ENABLED = 'N'
		WHERE NO = #{no}
	</update>
</mapper>