<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/LayoutCommon}">

<th:block layout:fragment="title">은행/카드</th:block>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

	<script type="text/javascript" th:inline="javascript">
	
		
		/*<![CDATA[*/
		const insertRes = /*[[${res}]]*/null;
		/*]]>*/
		$(function() {

			$('#DataTableBankCard').DataTable({
		        "processing": false,
		        "paging": false,
			});

			if (insertRes != null && insertRes.code != "0") {
				toastr["error"]("오류", insertRes.code + ' - '
						+ insertRes.message);
			}

			const submitForm = document.querySelector("#FormBankCard");
			submitForm.addEventListener("submit", saveInfo);
		});

		function saveInfo(event) {
			//여기서 자동 submit을 막아줍니다.
			event.preventDefault();

			const isAdd = parseInt($("#inputNo").val()) < 0;
			const name = $("#txtName").val();

			toastConfirm(isAdd ? '추가' : '수정', name
					+ (isAdd ? ' 추가' : ' 수정') + '하시겠습니까?', function() {
				event.target.submit();
			});
		}

		function onClear() {
			$("#inputNo").val('-1');
			$("#txtName").val('');
			$("#selectBankCard option:eq(0)").prop("selected", true);
			$("#selectInputBc option:eq(0)").prop("selected", true);
		}

		function getRowData( row ){
			const cells = row.cells;

			const data = {
				no : row.getAttribute('no'),
				bc : cells[0].getAttribute('bc'),
				inputBC : cells[1].getAttribute('inputbc'),
				name : cells[2].textContent,
			};

			console.info(data);
			
			return data;			
		}
		
		function onClickList(row) {

			const data = getRowData( row );

			$("#inputNo").val(data.no);
			$("#txtName").val(data.name);
			$("#selectBankCard").val(data.bc).prop("selected", true);
			$("#selectInputBc").val(data.inputBC).prop("selected", true);
		}
		
		function onDelete(button) {
			// 현재 행 찾기
		    const row = button.closest('tr');
		    
		    const data = getRowData( row );
		    
		    toastConfirm('삭제', data.name
					+ ' 삭제하시겠습니까?', function() {
		    	
		    	$.ajax({
		            type: 'POST',
		            url: /*[[@{/Config/BankCard/Remove.json}]]*/ null,
		            data: { no: data.no },
		            dataType: 'json',
		            success: function(json) {
		                if (json.code === '0') {
		                	toastAlert('성공', '삭제에 성공했습니다.');
		                	row.remove();
		                	onClear();
		                } else {
		                	toastAlert('실패', '삭제에 실패했습니다. ' + json.code + ':' + json.message);
		                }
		            },
		            error: function(request, status, error) {
		            	console.log("code: " + request.status)
			            console.log("message: " + request.responseText)
			            console.log("error: " + error);
		            	
		            	toastAlert('Error', '삭제 요청 중 오류가 발생했습니다.');
		            }
		        });
		    	
			});
		}
	</script>

</th:block>

<div layout:fragment="content">
	<div class="card shadow shadow mb-4">
		<form id="FormBankCard" method="POST" th:action="@{/Config/BankCard/Save.html}" target="_self">
			<input type="hidden" name="no" id="inputNo" value="-1">
			<div class="row border-bottom-danger shadow">

				<div class="card-body">
					<div class="form-group">
						<label for="selectBankCard">은행/카드 종류<font color="red">*</font></label>
						<select name="bc" class="form-control" id="selectBankCard">
							<option 
								th:each="item : ${BankCard}" 
								th:value="${item}"
								th:text="${item.dscr}"></option>
						</select>
					</div>
				</div>


				<div class="card-body">
					<div class="form-group">
						<label for="txtName">이름<font color="red">*</font></label> 
						<input type="text" class="form-control" id="txtName" name="name" placeholder="이름 입력" required>
					</div>
				</div>

				<div class="card-body">
					<div class="form-group">
						<label for="selectInputBc">은행/카드 이름</label> <select
							name="inputBC" class="form-control" id="selectInputBc">
							<option value="" selected>선택 안 함</option>
							<option 
								th:each="item : ${InputBC}" 
								th:value="${item}"
								th:text="${item.dscr}"></option>
						</select>
					</div>
				</div>

				<div class="card-body">
					<div class="form-group">
						<button type="button" class="btn btn-primary" onclick="onClear()">초기화</button>
						<button type="submit" class="btn btn-primary">저장</button>
					</div>
				</div>
			</div>
		</form>
		
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="DataTableBankCard">
					<thead>
						<tr>
							<th>종류</th>
							<th>은행/카드</th>
							<th>이름</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${list}" th:attr="no=${data.no}"
							onclick="onClickList(this)">
							<td class="text-center" th:attr="bc=${data.bc}" th:text="${data.bc.dscr}"></td>
							<td class="text-center" th:attr="inputbc=${data.inputBC}" th:text="${data.inputBC.dscr}"></td>
							<td class="text-center" th:text="${data.name}"></td>
							<td class="text-center">
							    <button type="button" class="btn btn-danger btn-sm" onclick="onDelete(this)">삭제</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</html>