<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
	
	<style type="text/css">
		.hidden {
		    display: none;
		}
		.modal-header {
		    cursor: move;
		}
		.byteLength {
            display: block;
            text-align: center;
        }
        
	</style>
	
	<script type="text/javascript" th:inline="javascript">
	
	$(document).ready(function () {
        $("#editBankCardModal").draggable({
            handle: ".modal-header"
        });
        
        $('.byte-input').on('input', function() {
        	viewByteLength( $(this) );
        });
        
        $('.byte-input').trigger('input');
    });
	
	</script>
	
	<div class="modal fade" id="editBankCardModal" tabindex="-1" role="dialog" aria-labelledby="editBankCardModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            	
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">카드 [[${data.no > -1? '수정':'추가'}]]</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <form id="editForm" th:object="${data}">
                	<input type="hidden" th:field="*{no}">
					<input type="hidden" th:field="*{cardNo}">
	                <div class="modal-body">
					    <div class="card">
					        <div class="card-body">
					            <div class="table-responsive">
					                <table class="table table-borderless">
					                    <tbody>
					                        <tr>
					                            <th class="text-left" scope="row">
					                            	이름<br>
					                            	<div class="byteLength">
					                            		<span class="current-size"></span>/<span class="max-size"></span>
					                            	</div>
					                            </th>
					                            <td class="text-left">
					                                <input type="text" class="form-control border-1 byte-input" maxlength="32" th:field="*{name}" required>
					                            </td>
					                        </tr>
					                        
											<tr>
											    <th class="text-left" scope="row">카드 종류</th>
											    <td class="text-right">
											        <select th:field="*{cardType}" class="form-control" id="selectBankKind">
											        	<option 
															th:each="option : ${CardTypes}" 
															th:value="${option}"
															th:text="${option.dscr}"
															></option>
													</select>
											    </td>
											</tr>
					                        <tr>
					                            <th class="text-left" scope="row">
					                            	카드번호<br>
					                            	<div class="byteLength">
					                            		<span class="current-size"></span>/<span class="max-size"></span>
					                            	</div>
					                            </th>
					                            <td class="text-left">
					                                <input type="text" class="form-control border-1 byte-input" maxlength="16" th:field="*{cardNumber}" required>
					                            </td>
					                        </tr>
											<tr>
						                        <th class="text-left" scope="row">
						                        	파일에서 처리되는 이름<br>
					                            	<div class="byteLength">
					                            		<span class="current-size"></span>/<span class="max-size"></span>
					                            	</div>
						                        </th>
						                        <td class="text-left">
						                            <input type="text" class="form-control border-1 byte-input" maxlength="16" th:field="*{innerFileCardName}" required>
						                        </td>
						                    </tr>
											<tr>
					                            <th class="text-left" scope="row">
					                            	청구서에 기록되는 카드 번호<br>
					                            	<div class="byteLength">
					                            		<span class="current-size"></span>/<span class="max-size"></span>
					                            	</div>
					                            </th>
					                            <td class="text-left">
					                                <input type="text" class="form-control border-1 byte-input" maxlength="16" th:field="*{innerFileCardNumber}" required>
					                            </td>
					                        </tr>											
					                        <tr>
					                            <th class="text-left" scope="row">
					                            	비고<br>
					                            	<div class="byteLength">
					                            		<span class="current-size"></span>/<span class="max-size"></span>
					                            	</div>
					                            </th>
					                            <td class="text-left">
					                                <input type="text" class="form-control border-1 byte-input" maxlength="128" th:field="*{dscr}" required>
					                            </td>
					                        </tr>
					                    </tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</div>
                </form>
                <div class="modal-footer">
                	<a class="btn btn-success btn-icon-split" onclick="modalSuccessCardItemClick()">
                        <span class="icon text-white-50">
                            <i class="fas fa-check-circle"></i>
                        </span>
                        <span class="text">[[${data.no > -1? '수정':'추가'}]]</span>
                    </a>
					<a th:if="${data.no > 0}" class="btn btn-danger btn-icon-split" th:onclick="'onCardItemDelete(' + ${data.no} + ')'">
			            <span class="icon text-white-50">
			                <i class="fas fa-trash-alt"></i>
			            </span>
			            <span class="text">삭제</span>
			        </a>
                	<a class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fas fa-times"></i>
                        </span>
                        <span class="text">취소</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>