<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/LayoutCommon}">

<th:block layout:fragment="title">메인</th:block>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:inline="javascript">

		$(function() {
			console.info('첫 로딩이다.');
		});
	</script>
 		
</th:block>
    
<div layout:fragment="content">
		
	
</div>
</html>