<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" monitorInterval="30">
	<Properties>
		<Property name="LOG_FORMAT">%d{yyyy-MM-dd HH:mm:ss:SSS} %5p [%c] %n%m%n</Property>
	</Properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %n%msg%n%throwable" />
		</Console>

		<RollingFile name="File"
			fileName=".logs/Household.log"
			filePattern=".logs/Household.%d{yyyyMMdd}.log">
			<PatternLayout pattern="${LOG_FORMAT}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath=".logs">
					<IfFileName glob="*.log" />
					<IfLastModified age="90d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</appenders>

	<loggers>
	
		<logger name="log4jdbc.log4j2" level="off" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>
		
		<Logger name="jdbc.sqlonly" level="off" />
		<Logger name="jdbc.sqltiming" level="info" />
		<Logger name="jdbc.audit" level="off" />
		<Logger name="jdbc.resultset" level="off" />
		<Logger name="jdbc.resultsettable" level="off" />
		<Logger name="jdbc.connection" level="off" />
		
		<root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</root>
		
	</loggers>
</configuration>
