<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title><th:block layout:fragment="title">MoneyMap</th:block></title>
    <meta charset="UTF-8">
    <th:block th:replace="~{Common/Favicon :: Favicon}"></th:block>
	
    <script type="text/javascript" th:src="@{/js/tailwind/tailwind.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/MyToast.js}"></script>
	<th:block layout:fragment="css"/>
</head>
<body class="bg-gray-100 min-h-screen flex">

    <!-- Sidebar -->
    <div th:replace="~{Root/sideView :: sideView}"></div>

    <!-- Main Content -->
    <div class="flex-1 flex flex-col">
        <!-- Top Bar -->
        <div th:replace="~{Root/headerView :: headerView}"></div>

        <!-- Main Content Area -->
        <div class="flex-1 p-6 overflow-auto">
            <th:block layout:fragment="content"/>
        </div>
    </div>

	<!-- alert confirm prompt -->
	<div th:replace="~{Root/alertView :: alertView}"></div>
    <!-- 모달창 -->
    <div th:replace="~{Root/modalView :: modalView}"></div>

	<th:script th:replace="~{Common/Script :: CommonScript}"/>
	<th:block layout:fragment="script"/>

</body>
</html>
