<div xmlns:th="http://www.thymeleaf.org"
	th:fragment="sideView" 
	id="sidebar" 
	class="bg-blue-900 text-white w-64 min-h-screen p-4 flex flex-col z-40 ">
<style>
    #sidebar {
        min-width: 100px;
        max-width: 400px;
        width: 250px;
        position: relative;
        user-select: none;
        display: flex;
        flex-direction: column;
    }
    #resizer {
        width: 8px;
        cursor: ew-resize;
        background: gray;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }
    
    .menu-item {
        padding: 8px;
        display: block;
        border-radius: 4px;
    }
    .menu-item:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .menu-item.selected {
        background-color: rgba(255, 255, 255, 0.3);
        font-weight: bold;
    }
    
</style>
<img class="w-10 h-10 rounded-full" th:src="@{/images/logo.png}" alt="logo" >
<h2 class="text-lg font-bold mb-4">Budget Tracker</h2>

<div class="space-y-2">
	<div>
		<p class="text-lg font-semibold">거래</p>
		<ul class="pl-4 space-y-1">
			<li><a th:href="@{/Trade/Record.html}" class="menu-item" th:classappend="${currentURI == '/Trade/Record.html'} ? 'selected'">입출금 목록</a></li>
			<li><a th:href="@{/View/menuA_0.html}" class="menu-item" th:classappend="${currentURI == '/Trade/IO.html'} ? 'selected'">내역 입력</a></li>
		</ul>
	</div>
	<hr>
    <div>
    	<p class="text-lg font-semibold">환경</p>
    	<ul class="pl-4 space-y-1">
    		<li><a th:href="@{/Env/BankCard}" class="menu-item" th:classappend="${currentURI == '/Env/BankCard.html'} ? 'selected'">은행/카드 등록</a></li>
    		<li><a th:href="@{/View/menuB_2.html}" class="menu-item" th:classappend="${currentURI == '/View/menuB_2.html'} ? 'selected'">사용처</a></li>
    		<li><a th:href="@{/View/menuB_3.html}" class="menu-item" th:classappend="${currentURI == '/View/menuB_3.html'} ? 'selected'">세부관리</a></li>
    	</ul>
    </div>
	<hr>
    <div>
    	<p class="text-lg font-semibold">
    		<a th:href="@{/View/menuA_0.html}" class="menu-item" >Sample</a>
    	</p>
    </div>
</div>

<!-- Resizer -->
<div id="resizer"></div>

<script>
     const sidebar = document.getElementById("sidebar");
     const resizer = document.getElementById("resizer");
     let isResizing = false;

     resizer.addEventListener("mousedown", (event) => {
         isResizing = true;
         document.addEventListener("mousemove", handleMouseMove);
         document.addEventListener("mouseup", () => {
             isResizing = false;
             document.removeEventListener("mousemove", handleMouseMove);
         });
     });

     function handleMouseMove(event) {
         if (!isResizing) return;
         let newWidth = event.clientX - sidebar.offsetLeft;
         if (newWidth >= 100 && newWidth <= 400) {
             sidebar.style.width = newWidth + "px";
         }
     }
 </script>
</div>
