<div xmlns:th="http://www.thymeleaf.org">
    
    <div>
    	[[${item.list}]]
    </div>
    
     <div id="resultLayer" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
        <h2 class="text-lg font-bold">찾은 ID</h2>
     	<th:block th:each="row : ${item.list}" >
		    <div class="bg-white p-6 rounded-lg shadow-lg text-center">
		        <p id="foundId" class="text-xl text-blue-600">[[${row.id}]]</p>
		        <p class="text-xl text-green-500">[[${row.nickname}]]</p>
		        <button onclick="goLogin()" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">로그인하기</button>
		    </div>
     	</th:block>
	</div>

    <script>
    </script>
</div>

    