<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>MoneyMap <th:block layout:fragment="title"></th:block></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/favicon/apple-icon-57x57.png}">
	<link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/favicon/apple-icon-60x60.png}">
	<link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/favicon/apple-icon-72x72.png}">
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/favicon/apple-icon-76x76.png}">
	<link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/favicon/apple-icon-114x114.png}">
	<link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/favicon/apple-icon-120x120.png}">
	<link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/favicon/apple-icon-144x144.png}">
	<link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/favicon/apple-icon-152x152.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicon/apple-icon-180x180.png}">
	<link rel="icon" type="image/png" sizes="192x192"  th:href="@{/images/favicon/android-icon-192x192.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicon/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/images/favicon/manifest.json}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" th:content="@{/images/favicon/ms-icon-144x144.png}">
	<!-- <meta name="theme-color" content="#ffffff"> -->

    <script type="text/javascript" th:src="@{/js/tailwind/tailwind.min.js}"></script>

    <style>
    /* 별 회전 애니메이션 */
    @keyframes rotateStar {
        0% { opacity: 1; transform: rotate(0deg) scale(1); }
        100% { opacity: 0; transform: rotate(720deg) scale(1.5); } /* 2바퀴 돌고 사라짐 */
    }

    .animate-star {
        animation: rotateStar 2s ease-in-out forwards;
    }
    </style>
    <th:block layout:fragment="css"></th:block>
</head>
<body class="h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 shadow-lg rounded-lg w-full max-w-2xl text-center"> <!-- bg-white p-8 shadow-lg rounded-lg w-96 text-center"> -->
        <!-- 제목 -->
        <h1 id="houseTitle" class="text-5xl font-extrabold mb-6 text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-pink-500 to-yellow-500 animate-wiggle shadow-text">
        	MoneyMap <th:block layout:fragment="title"></th:block>
		</h1>
		
        <!-- Main Content Area -->
        <div class="flex-1 p-6 overflow-auto">
            <th:block layout:fragment="content"></th:block>
        </div>
		
    </div>
    
	<!-- alert confirm prompt -->
	<div th:replace="~{Root/alertView :: alertView}"></div>
    <!-- 모달창 -->
    <div th:replace="~{Root/modalView :: modalView}"></div>

    <script type="text/javascript" th:src="@{/js/MyToast.js}"></script>
	<th:block layout:fragment="script"></th:block>
	
</body>
</html>



